.wrapper{
    border: 5px solid black;
    background-image: linear-gradient(#FAF6EEff, #FDEC00ff, #FFCC00ff,#CC8F1Bff);
    display: grid;
    list-style: none;
    text-align: center;

}

.beersBeers {
    display: flex;
    /*flex-direction: row;*/
    list-style: none;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    font-weight: bolder;

}

p {
  font-weight: normal;
}

h4 {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

img{
    margin: 10px;

}

.styledButton {
    background: none;
    border: none;
}

button {
    background: black;
    color: black;
    font-size: 25px;
    margin: 25px;


}

#Box {
    width: 1000px;
    height:300px;
    background-color: grey;
    border: 5px black dashed;

}


h2 {
    font-size:50px;
    padding: 15px;
    margin-left: 55px;
    color: black;
    text-shadow: 3px 3px 20px gold,
    -2px 1px 30px grey;

}

ul {
    text-align: center;
    justify-content: center;
    align-items: center;
}

li {
    text-align: center;
}
