.wrapper{
    border: 5px solid black;
    background-image: linear-gradient(#FAF6EEff, #FDEC00ff, #FFCC00ff,#CC8F1Bff);
}

.beersBeers {
    display: flex;
    /*flex-direction: row;*/
    list-style: none;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;

}

h4 {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

img{
    margin: 10px;
}

button {
    background: red;
    color: white;
}