.wrapper{
    background-image: linear-gradient( to right, #FAF6EEff, #FDEC00ff, #FFCC00ff,#CC8F1Bff);
    display: grid;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    width: 100%;
    height: auto;


}

.beersBeers {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    font-weight: bolder;

}

p {
  font-weight: normal;
  margin: 2px;
  padding: 5px;
}

h4 {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

img{
    margin: 10px;

}

.styledButton {
    background: none;
    border: none;
}

button {
    background: black;
    color: black;
    font-size: 25px;
    margin: 25px;


}


h1 {
    font-size:50px;

    color: black;
    text-shadow: 3px 3px 20px gold,
    -2px 1px 30px grey;

}

h2 {
    font-size:50px;

    color: black;
    text-shadow: 3px 3px 20px gold,
    -2px 1px 30px grey;
}

ul {
    justify-content: center;

}

li {
    text-align: center;
    margin: 15px;
}

body {
    width: 100%;
}
